.main{
  display: none;
  padding-top: 50px;
}
.user-name{
  /*display:none;*/
  height: 400px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  background-color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(199,175,199,1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(199,175,199,1);
  box-shadow: 4px 4px 5px 0px rgba(199,175,199,1);
}
.title{
  text-align: center;
}
.title h1{
  font-weight: 400;
  font-size: 3em;
}




.item {
  position: relative;
  float: left;
}

.item h3 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.circle {
    border: 15px solid #03002e;
    height: 125px;
    border-radius:50%;
    width: 125px;
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}

.match {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('/static/images/loading.gif') 
              50% 50% 
              no-repeat;
      top: 55px;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .match {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .match {
    display: block;
}
