<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="{{url_for('static',filename='css/material-dashboard.min.css')}}" rel="stylesheet">
  <script type='text/javascript' src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type='text/javascript' src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
  <script type='text/javascript' src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script type='text/javascript' src="{{ url_for('static',filename='js/takeQuiz.js')}}"></script>
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
  

  <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
   
        <div class="modal-header">
          <h4 class="modal-title"></h4>
   
        <div class="modal-body">
          <div class="container p-3 my-3 bg-dark text-white">
            <h2 id="gameSummary"></h2>            
          </div>

        </div>   
        
      </div>
    </div>
  </div>
</div>
  
  <div class="container user-name mt-5 ">

    <div class="title">
      <h1>The Travia Quiz</h1>
    </div>
    <div class="form-group mt-5 align-middle">
        <input type="text" class="form-control" placeholder="Enter your username" id="user-name-field">
    </div>
    <div class="form-group align-middle">
        <button  class="btn form-control btn-info" placeholder="Enter your username" id="user-name-submit">Join Quiz <span class="match" style="background-color: #fbfbfb;color: #86888a;padding: 11px 0px 0px 130px;"><p class="blink">Matching....</p></span></button>
    </div>
 
  </div>


<div class="main">
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">The Travia Game</a>
  <form class="form-inline">
    <a class="navbar-brand" href="#">Hi! <span id="username"></span></a>
  </form>
</nav>
  <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="col-md-2">
                  <a type="button" class="btn btn-info" id="questionRound"></a>
                </div>
                
                

                  <div class="card-body row">
                        
                      <div class="col-md-2">
                        <div class="item html">
                          <h3 id="counter">10 sec</h3>
                          <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                           <g>
                            <!-- <title>Layer 1</title> -->
                            <circle id="circle" class="circle circle_animation" r="69.85699" cy="81" cx="81" stroke-width="15" stroke="red" fill="none"/>
                           </g>
                          </svg>
                        </div>
                      </div>

                      <div class="col-md-8" id="quizQuestions">
                      </div>


                      <div class="col-md-2">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Player</th>
                                <th>Round</th>
                                <th>status</th>

                              </tr>
                            </thead>
                            <tbody id="scoreBoard">

                              
                              
                            </tbody>
                          </table>
                      </div>

                    
                  </div>
                 
              </div>
            </div>
            </div>
          </div>
        </div>  
</div>
                
</body>
</html>
